* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", 'Times New Roman', Times, serif;

    --panel-proportions: 38.1;
    --left-margin: 45px;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.woff2') format('woff2'),
        url('fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
}

.img-panel {
    background-image: url(img/background-image-bodybuilder.jpg);
    background-size: 100%;
    width: calc(var(--panel-proportions)*1vw);
    height: 100vh;

    color: white;
}

.img-panel h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 70px;
    background-color: rgba(236, 233, 233, 0.389);
}

.content-panel {
    background-color: lightgray;
    width: calc((100 - var(--panel-proportions))*1vw);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}


p {
    margin-left: var(--left-margin);
    margin-right: 100px;
}


.introduction,
.catch-phrase {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(38, 38, 38);
}

.white-background {
    background-color: white;
    padding: 20px 45px 20px var(--left-margin);
    box-shadow: 0 5px 5px rgba(128, 128, 128, 0.419);
}

button {
    margin-top: 30px;
    margin-left: var(--left-margin);
}

.couple-input {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    width: 260px;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 3px;
    margin-top: 0.3rem;
    padding: 4px 10px;
    font-size: 1rem;
    appearance: none;
    --webkit-appearance: none;
    outline: none;
}

input:focus {
    outline: 0.2px solid rgba(10, 80, 10, 0.878);
    box-shadow: 2px 2px 5px rgba(10, 80, 10, 0.878);
}

h2 {
    color: rgb(98, 98, 98);
}

label {
    color: rgb(98, 98, 98);
}